/* select classes which has ex-1 */
[class*="ex-"]{
  transition: all 2s ease 0s;
}

/* esercizio 1 */
.ex-1-square:hover{
  background-color: red;
}


/* esercizio 2 */
.ex-2-square:hover{
  cursor: pointer;
}
.ex-2-square:active{
  width: 100%;
  background-color: green;
}

/* esercizio 3 */
.ex-3-square:hover{
  border-radius: 50%;
  background-image: url("https://media1.tenor.com/images/e6dfe5528b7a85a9fe8a546a1c388f2f/tenor.gif?itemid=13697120");
  background-size: contain;
}

/* esercizio 4 */
.ex-4-square:hover{
  opacity: 0;
}

/* esercizio 5 */
.ex-5-square:hover{
  cursor: pointer;
  width: 150px;
  height: 150px;
}
.ex-5-square:active{
  width: 20px;
  height: 20px;
}

/* esercizio 6 */
.ex-6-img:hover{
  filter: grayscale(100%);
}

/* esercizio 7 */
.ex-7-img:hover{
  filter: grayscale(100%) blur(10px);
}

/* esercizio 8 */
.ex-8-img:hover{
  filter: invert(10%) saturate(50%);
  border-radius: 40px;
}
/* esercizio 9 uso padding perche sono togo */
.ex-9-img:hover{
  filter: sepia(20%) brightness(50%);
  border-radius: 40px;
  padding: 5%;
  cursor: pointer;
}

/* esercizio 10 */
.ex-10-icon{
  animation: ruota linear 1.5s infinite;
}

/* esercizio 11 */
.ex-11-icon{
  animation: ruota linear 1.5s infinite;
}
@keyframes ruota {
  0%{
    transform: rotate(360deg);
  }
}
.ex-11-icon:hover{
  animation: ruotaanti linear 1.5s;
}
@keyframes ruotaanti {
  75%{
    transform: rotate(270deg);
  }
}

/* esercizio 12 */
.ex-12-button:hover .ex-12-top-white{
  animation: muovia linear 1.5s infinite;
}
.ex-12-button:hover .ex-12-bottom-white{
  animation: muovib linear 1.5s infinite;
}

@keyframes muovia{
  0%{
    left: 60% ;
  }
  50%{
    left: 10%;
  }
  75%{
    left: 30%;
  }
  100%{
    left: 60%;
  }
}
@keyframes muovib{
  0%{
    right: 60% ;
  }
  50%{
    right: 10%;
  }
  75%{
    right: 30%;
  }
  100%{
    right: 60%;
  }
}

/* esercizio 13 */
.ex-13-button:hover .ex-13-top-white{
  animation: muovic linear 1.5s infinite;
  left: 0;
}
.ex-13-button:hover .ex-13-bottom-white{
  animation: muovid linear 1.5s infinite;
  right: 0;
}

@keyframes muovic {
  0%{
    left: 50%;
  }
  50%{
    left: 100%;
    top: 0%;
    height: 40%;
  }
  65%{
    left: 100%;
    top: 50%;
    width: 20%;
  }
  100%{
    top: 100%;
    height: 40%;
    width: 20%;
  }

}
@keyframes muovid {
  0%{
    right: 50%;
  }
  50%{
    right: 100%;
    bottom: 0%;
    height: 40px;
  }
  65%{
    right: 100%;
    bottom: 50%;
    width: 20%;

  }
  100%{
    bottom: 100%;
    height: 40px;
    width: 20%;
  }
}
